<form method="post" id="new_raw_video" class="new_raw_video" action="/you_tubs" accept-charset="UTF-8"><div style="margin: 0pt; padding: 0pt; display: inline;"><input type="hidden" value="✓" name="utf8"><input type="hidden" value="r170nx8BJxdw2yXl/Zrh1wRoGaPAIzQ0H+7iT9Ch/3U=" name="authenticity_token"></div>

  <div class="field">
    <label for="raw_video_longitude">Longitude</label><br>
    <input type="text" size="30" name="raw_video[longitude]" id="raw_video_longitude">
  </div>
  <div class="actions">
    <input type="submit" value="Create Raw video" name="commit" id="raw_video_submit">
  </div>
</form>
